<h1>Edit<% @trip.location %></h1> 

<form action="/trips/<%=@trip.id %>" method="POST"> 
  <label>Trip Location</label>
  <input type="text" name="location" value="<%=@trip.location %>"></br>

  <label>Trip Description</label> 
  <input type="text" name="description" value="<%=@club.description%>"></br>

  <input type="submit" value="Update">
</form>