<h1>Create A New Journal Entry</h1>

<form action="/trips" method="POST">
  <label>Trip Location</label>
  <input type="text" name="location"><br>

  <label>Trip Description</label>
  <input type="text" name="description"><br> 

  <input type="submit" value="create">
</form>
 