<!DOCTYPE html>
 <html>
   <p>Your Travel Journal Entries, <%= @user.email %> 
   <% @user.trips.each do |trip| %> </p>
    <ul> 
     <li><a href="/trips/<%=trip.id%>"><%= trip.location %></a></li>
    </ul>
   <% end %>

 </html>

