<!DOCTYPE html> 
<html> 
  <h1>Travel Journal Users</h1>

  <h2>"Sign Up to use Travel Journal"</h2>
    <form action="/signup.html" method="POST">
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <input class="btn btn-primary" type="submit">
    </form>
</html>