<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
  </head>
  <h1 style="color:#CD853F">Welcome to Travel Journal</h1>
  <body>
      <% if logged_in? %>
       <a href="/trips/new">Create New Journal Entry</a>
       <a href="/show">See All Previous Journal Entries</a>
       <a style="color:#008B8B" href="/logout">Logout</a>
       <p> Welcome, <%= current_user.username %></p>
     
      <% else %>
       <a style="color:#008B8B" href="/login">Login</a>
       <a style="color:#008B8B" href="/signup">Signup</a>
      <% end %> 
      
      <%= yield %> 
  </body> 
</html>