<h1>Create an Account</h1>
<h2>All fields are required.</h2>

  <form action="/signup" method="POST">
    <label for="name">Your name:</label>
    <input type="text" name="name"><br>

    <label for="email">Your email:</labe>
    <input type="text" name="email"><br>

    <label for="password">Password:</label>
    <input type="text" name="password"><br>

    <input type="submit" value="submit">
  </form>